.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 125vh;
  width: 500px;
  margin: auto;
}

.App-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title h1 {
  margin: 0;
  margin-right: 20px;
  font-size: 3em;
}

.background {
  justify-content: center;
  /* horizontally center */
}
.city{
  display:flex;
  align-items: center;
  justify-content: center
}
.cityname{
  margin:10px;
}
.img{
  width:250px;
  height:353px;
}
.type{
  width:300px;
  height:300px;
}
.tp{
  display:flex;
  align-items: center;
  justify-content: center
}
.typename{
  margin:10px;
}
